.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.menu.bgn {
  background: none;
}
.menu.acti {
  background: rgba(0,0,0,0.5);
}
.h-public-title h3 {
  font-size: 18px;
  color: #333;
  font-weight: normal;
}
.h-public-title h3 small {
  font-size: 14px;
  color: #ccc;
  line-height: 1;
}
.h-banner {
  height: 360px;
  text-align: center;
}
.h-banner.pl100 h3 {
  padding-left: 100px;
}
.h-banner h3 {
  margin-top: 160px;
  padding-left: 80px;
  font-size: 48px;
  text-align: left;
  color: #fff;
  display: inline-block;
  background: url("") left center no-repeat;
  font-weight: normal;
}
.h-banner h3 small {
  display: block;
  font-size: 16px;
  color: #e5e5e5;
}
.government-hotline .h-background-container {
  padding: 50px 0 80px;
}
.government-hotline .h-background {
  padding-top: 30px;
}
.government-hotline .h-background .pic {
  width: 400px;
}
.government-hotline .h-background .pic img {
  display: block;
  border-radius: 10px;
  width: 100%;
  box-shadow: 10px 10px 0 #dbe6f4;
}
.government-hotline .h-background .content {
  padding-left: 30px;
  font-size: 14px;
  color: #666;
  line-height: 25px;
  max-width: 600px;
}
.government-hotline .h-background .content .en {
  padding-top: 20px;
  font-size: 12px;
  color: #ccc;
}
.government-hotline .h-function {
  padding: 50px 0 100px;
  background: #f5f5f5;
}
.government-hotline .h-function .content .item {
  float: left;
  width: 33.33%;
  text-align: center;
  padding-top: 50px;
}
.government-hotline .h-function .content .item .content {
  max-width: 300px;
  margin: 0 auto;
}
.government-hotline .h-function .content .item h4 {
  padding: 10px 0 5px;
  font-size: 16px;
  color: #666;
  font-weight: normal;
}
.government-hotline .h-function .content .item p {
  height: 66px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
}
.h-cal-center .h-cal-center-function {
  padding: 50px 0 130px;
  background: #f5f5f5;
}
.h-cal-center .h-cal-center-function .content .describe {
  padding: 50px 0;
  line-height: 2;
  font-size: 14px;
  color: #333;
}
.h-cal-center .h-cal-center-function .content .table {
  background: #fff;
}
.h-cal-center .h-cal-center-function .content .table table {
  border-radius: 5px;
  border-collapse: collapse;
}
.h-cal-center .h-cal-center-function .content .table table,
.h-cal-center .h-cal-center-function .content .table table tr,
.h-cal-center .h-cal-center-function .content .table table td {
  border: 1px solid #e5e5e5;
}
.h-cal-center .h-cal-center-function .content .table table .item {
  padding: 20px;
  transition: 0.3s;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.h-cal-center .h-cal-center-function .content .table table .item:hover {
  box-shadow: 0 0 20px #ccc;
}
.h-cal-center .h-cal-center-function .content .table table .item h3 {
  padding: 30px 0 10px;
  font-size: 16px;
  color: #666;
  line-height: 1;
}
.h-cal-center .h-cal-center-function .content .table table .item img {
  height: 36px;
}
.h-cal-center .h-cal-center-function .content .table table .item p {
  height: 54px;
  padding-bottom: 20px;
  font-size: 12px;
  color: #999;
  line-height: 1.5;
}
.h-cal-center .h-application-value {
  padding: 50px 0;
  background: #fff;
}
.h-cal-center .h-application-value .h-public-title {
  padding-bottom: 22px;
}
.h-cal-center .h-application-value .content {
  margin-left: -60px;
}
.h-cal-center .h-application-value .item {
  margin-top: 22px;
  margin-left: 60px;
  width: 360px;
  height: 118px;
  border: 1px solid #84ccc9;
  font-size: 0;
  box-sizing: border-box;
}
.h-cal-center .h-application-value .item>div {
  display: inline-block;
  vertical-align: middle;
}
.h-cal-center .h-application-value .item:nth-child(1) {
  border-color: #84ccc9;
}
.h-cal-center .h-application-value .item:nth-child(2) {
  border-color: #f8b551;
}
.h-cal-center .h-application-value .item:nth-child(3) {
  border-color: #01a2e9;
}
.h-cal-center .h-application-value .item:nth-child(4) {
  border-color: #ea68a2;
}
.h-cal-center .h-application-value .item:nth-child(5) {
  border-color: #c9a080;
}
.h-cal-center .h-application-value .item:nth-child(6) {
  border-color: #1a2230;
}
.h-cal-center .h-application-value .item:nth-child(7) {
  border-color: #80c269;
}
.h-cal-center .h-application-value .item .verm {
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.h-cal-center .h-application-value .item .left {
  padding: 0 20px 0 0;
  width: 120px;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.h-cal-center .h-application-value .item .left h4 {
  text-align: center;
  font-weight: normal;
}
.h-cal-center .h-application-value .item .left small {
  display: block;
  font-size: 14px;
  color: #ccc;
}
.h-cal-center .h-application-value .item .right {
  width: 200px;
  font-size: 14px;
  color: #999;
}
.h-cal-center .h-application-scenario {
  padding: 50px 0 100px;
  background: #f5f5f5;
}
.h-cal-center .h-application-scenario .content .describe {
  padding: 50px 0 100px;
  line-height: 2;
  font-size: 14px;
  color: #333;
}
.h-cal-center .h-application-scenario .content .item {
  position: relative;
  width: 590px;
  height: 300px;
  background: #7fc168;
  border-radius: 20px;
  padding: 120px 50px 0;
  box-sizing: border-box;
}
.h-cal-center .h-application-scenario .content .item:after {
  content: '';
  position: absolute;
  top: -60px;
  left: 50%;
  background: url("../img/4ffce37d4bfcb84abec8e66aa6150847-120+120.jpg") center center no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-left: -60px;
}
.h-cal-center .h-application-scenario .content .item+.item {
  background: #01a1e8;
}
.h-cal-center .h-application-scenario .content .item+.item:after {
  background: url("../img/0262acfa0558fe425fc84300b0f4511c-120+120.jpg") center center no-repeat;
}
.h-cal-center .h-application-scenario .content .item h4 {
  padding-bottom: 15px;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}
.h-cal-center .h-application-scenario .content .item p {
  font-size: 14px;
  color: #fff;
}
.h-cloud-cal .h-cloud-cal-advantages {
  padding: 50px 0 150px;
  background: #f5f5f5;
}
.h-cloud-cal .h-cloud-cal-advantages .h-public-title {
  padding-bottom: 80px;
}
.h-cloud-cal .h-cloud-cal-advantages .content {
  margin-left: -30px;
}
.h-cloud-cal .h-cloud-cal-advantages .content .item {
  width: 216px;
  margin-left: 30px;
  background: #fff;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.h-cloud-cal .h-cloud-cal-advantages .content .item:hover {
  box-shadow: 0 0 10px #ccc;
}
.h-cloud-cal .h-cloud-cal-advantages .content .item .pic {
  height: 134px;
  background: url("") center center no-repeat;
}
.h-cloud-cal .h-cloud-cal-advantages .content .item h3 {
  font-size: 16px;
  color: #333;
  line-height: 1;
  padding-bottom: 15px;
  text-align: center;
  font-weight: normal;
}
.h-cloud-cal .h-cloud-cal-advantages .content .item p {
  padding: 0 15px;
  overflow: hidden;
  margin-bottom: 15px;
  font-size: 12px;
  color: #666;
  line-height: 20px;
  height: 80px;
}
.h-cloud-cal .h-cloud-core-function {
  padding-top: 50px;
  background: url("../img/3befd03c553c75963e301b0afb9c3453-1919+373.png") center bottom 70px no-repeat;
}
.h-cloud-cal .h-cloud-core-function .content {
  position: relative;
  height: 520px;
  width: 100%;
}
.h-cloud-cal .h-cloud-core-function .content .item {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.h-cloud-cal .h-cloud-core-function .content .item:hover {
  box-shadow: 0 0 0 #ccc;
}
.h-cloud-cal .h-cloud-core-function .content .item:hover .title {
  box-shadow: 0 0 10px #666;
}
.h-cloud-cal .h-cloud-core-function .content .item:hover .text {
  width: 390px;
  padding-left: 150px;
  padding-right: 30px;
}
.h-cloud-cal .h-cloud-core-function .content .item .title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: 1;
  transition: 0.3s;
}
.h-cloud-cal .h-cloud-core-function .content .item h3 {
  padding-top: 37px;
  font-size: 18px;
  color: #fefefe;
  text-align: center;
  font-weight: normal;
}
.h-cloud-cal .h-cloud-core-function .content .item h3 small {
  display: block;
  color: #e5e5e5;
  font-size: 14px;
}
.h-cloud-cal .h-cloud-core-function .content .item .text {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  border-radius: 60px;
  width: 360px;
  padding-left: 120px;
  padding-right: 30px;
  box-sizing: border-box;
  font-size: 12px;
  color: #e2fefd;
  padding-top: 43px;
  transition: 0.3s;
  padding-left: 0;
  padding-right: 0;
  width: 120px;
}
.h-cloud-cal .h-cloud-core-function .content .item .text .fix {
  position: absolute;
  right: 30px;
  left: 150px;
  width: 210px;
}
.h-cloud-cal .h-cloud-core-function .content .item-1 {
  top: 150px;
  left: 0;
  background: #84ccc9;
  box-shadow: 0 0 0 5px rgba(132,204,201,0.4);
}
.h-cloud-cal .h-cloud-core-function .content .item-1 .title {
  background: #84ccc9;
}
.h-cloud-cal .h-cloud-core-function .content .item-1 .text {
  background: #84ccc9;
}
.h-cloud-cal .h-cloud-core-function .content .item-2 {
  top: 325px;
  left: 215px;
  background: #ea68a2;
  box-shadow: 0 0 0 5px rgba(234,104,162,0.4);
}
.h-cloud-cal .h-cloud-core-function .content .item-2 .title {
  background: #ea68a2;
}
.h-cloud-cal .h-cloud-core-function .content .item-2 .text {
  background: #ea68a2;
}
.h-cloud-cal .h-cloud-core-function .content .item-3 {
  top: 115px;
  left: 430px;
  background: #80c269;
  box-shadow: 0 0 0 5px rgba(128,194,105,0.4);
}
.h-cloud-cal .h-cloud-core-function .content .item-3 .title {
  background: #80c269;
}
.h-cloud-cal .h-cloud-core-function .content .item-3 .text {
  background: #80c269;
}
.h-cloud-cal .h-cloud-core-function .content .item-4 {
  top: 250px;
  left: 650px;
  background: #f8b551;
  box-shadow: 0 0 0 5px rgba(248,181,81,0.4);
}
.h-cloud-cal .h-cloud-core-function .content .item-4 .title {
  background: #f8b551;
}
.h-cloud-cal .h-cloud-core-function .content .item-4 .text {
  background: #f8b551;
}
.h-cloud-cal .h-cloud-core-function .content .item-5 {
  top: 80px;
  left: 880px;
  background: #88abda;
  box-shadow: 0 0 0 5px rgba(136,171,218,0.4);
}
.h-cloud-cal .h-cloud-core-function .content .item-5 .title {
  background: #88abda;
}
.h-cloud-cal .h-cloud-core-function .content .item-5 .text {
  background: #88abda;
}
.h-cloud-cal .h-cloud-core-function .content .item-6 {
  top: 335px;
  left: 1064px;
  background: #01a2e9;
  box-shadow: 0 0 0 5px rgba(1,162,233,0.4);
}
.h-cloud-cal .h-cloud-core-function .content .item-6 .title {
  background: #01a2e9;
}
.h-cloud-cal .h-cloud-core-function .content .item-6 .text {
  background: #01a2e9;
}
.h-cloud-cal .h-cloud-application-scenario {
  padding: 50px 0 100px;
  background: #f5f5f5;
}
.h-cloud-cal .h-cloud-application-scenario .h-public-title {
  padding-bottom: 80px;
}
.h-cloud-cal .h-cloud-application-scenario .content .item {
  margin-bottom: 20px;
  width: 590px;
}
.h-cloud-cal .h-cloud-application-scenario .content .item .pic,
.h-cloud-cal .h-cloud-application-scenario .content .item .text {
  width: 295px;
}
.h-cloud-cal .h-cloud-application-scenario .content .item .pic img {
  display: block;
  width: 100%;
}
.h-cloud-cal .h-cloud-application-scenario .content .item .text {
  box-sizing: border-box;
  padding: 30px;
  height: 240px;
  background: #0492d0;
}
.h-cloud-cal .h-cloud-application-scenario .content .item .text .icon {
  height: 85px;
  background: url("") left center no-repeat;
}
.h-cloud-cal .h-cloud-application-scenario .content .item .text h3 {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  line-height: 2;
}
.h-cloud-cal .h-cloud-application-scenario .content .item .text p {
  font-size: 12px;
  color: #fff;
  line-height: 1.5;
}

/*# sourceMappingURL=c.css.map */
