
.dt
	width 100%
	display table
	

back(path)
	background url(../img/path) center top no-repeat

.z_banner
	height 360px
	back("aec31a743746510310285b78de5d76d0_1920x360.jpg")
	&.two
		back("d5d48e03bc1c2c580eb5ecf8eff448aa_1920x360.jpg")

.titel-public
	clear both
	line-height 1.4
	margin-bottom 60px
	h2
		font-size 18px
		color #333
		font-weight normal
		span
			font-size 14px
			color #ccc
			margin-left 10px


.product-ts
	background #f5f5f5
	padding 50px 0 150px
	.box
		ul
			margin-left -30px
			li
				width 380px
				height 240px
				background #fff
				border-radius 5px
				padding 60px 35px
				box-shadow 0 5px 16px rgba(#e5e5e5,1)
				margin-left 30px
				box-sizing border-box
				img
					display block
					width 35px
					height 35px
					margin-bottom 30px
				span
					font-size 16px
					color #333
					display block
					margin-bottom 10px
				p
					font-size 12px
					color #666
					line-height 1.9


.product-features
	display table
	padding 80px 0 140px
	.box
		ul
			margin-left -27px
			li
				width 216px
				height 320px
				border 1px solid #e5e5e5
				border-radius 8px
				overflow hidden
				margin-left 27px
				transition .3s
				margin-bottom 48px
				&:hover
					box-shadow 0 5px 16px rgba(#e5e5e5,1)
				strong
					width 100%
					height 48px
					line-height 48px
					background #84ccc9
					text-align center
					color #fff
					text-shadow 0 2px 3px rgba(#cccccc,1)
					display block
					&.s1
						background #88abda
					&.s2
						background #d1c0a5
					&.s3
						background #f8b551
					&.s4
						background #ea68a2

				.pic
					width 100%
					height 110px
					display table
					text-align center
					i
						vertical-align middle
						display table-cell
				p
					width 90%
					margin 0 auto
					font-size 12px
					color #666
					text-align justify
					line-height 1.9


.app-cj
	background #f5f5f5
	padding 50px 0
	.box
		ul
			margin-left -133px
			li
				text-align center
				width 200px
				margin-left 133px
				margin-bottom 40px
				.pic
					width 200px
					height 200px
					border-radius 5px
					overflow hidden
					margin 0 auto 10px
					a
						width 100%
						height 100%
						display block
						&:hover
							img
								transform scale(1.1)
								opacity .85
						img
							width 100%
							min-height 100%
							transition .3s
				span
					font-size 16px
					color #333
					line-height 1.4


.z_why
	padding 50px 0 100px
	.top-box
		width 85%
		overflow hidden
		margin-bottom 100px
		float left
		strong
			font-size 18px	
			color #333
			font-weight normal
			display block
			margin-bottom 30px
			line-height 1.4
		p
			font-size 14px
			color #666
			text-align justify
			line-height 1.9
	.box
		width 100%
		display table
		.left
			float left
			width 50%
				
		.right
			float right
			width 50%
			padding 100px 0 0 100px
			box-sizing border-box
			strong
				font-size 18px
				color #333
				font-weight normal
				display block
				margin-bottom 40px
			p
				font-size 14px
				color #666
				line-height 1.7
				text-align justify
				margin-bottom 30px
				span
					height 24px
					line-height 24px
					font-size 14px
					color #fff
					background #88abda
					border-radius 50%
					padding 0 4px
					display inline-block
					margin-right 10px
					


.features-ys
	background #f5f5f5
	padding 50px 0 
	.box
		ul
			li
				width 33.333%
				text-align center
				margin-bottom 70px
				.pic
					width 120px
					height 120px
					border-radius 50%
					overflow hidden
					margin 0 auto 15px
					img
						width 100%
						min-height 100%
				.text
					width 70%
					display table
					margin 0 auto
					strong
						font-size 16px
						color #666
						font-weight normal
						display block
						line-height 1.4
						margin-bottom 7px
					p
						font-size 12px
						color #999
						line-height 1.9


.main-features
	padding 50px 0
	.box
		ul
			li
				width 590px
				margin-bottom 50px
				&:nth-child(even)
					float right
				h3
					width 100%
					height 60px
					line-height 60px
					background #637fbf
					color #ffff
					font-size 18px
					padding-left 40px
					box-sizing border-box
					text-shadow 0 2px 3px rgba(#396fea,1)
					box-shadow 0 2px 2px rgba(#5379ad,.1)
					border-radius 40px
					font-weight normal
					letter-spacing 1px
				.text
					width 92%
					margin 0 auto
					border-radius 0 0 5px 5px
					overflow hidden
					p
						line-height 60px
						color #fff
						background #9bb3eb
						font-size 12px
						padding-left 40px
						box-sizing border-box
						&:nth-child(even)
							background #96ade3
						span
							height 13px
							width 13px
							border 1px solid #fff
							border-radius 50%
							display inline-block
							line-height 1
							text-align center
							margin-right 5px